*{
    font-family: 'Roboto', sans-serif;
}
.topbar{
    font-size: 24px;
    background-color: #1F2937;
    color: #F9FAF8;
}
.linkbar a{
    font-size: 18px;
    color: #E5E7EB;
}
button{
    background-color:#3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 6px;
    padding: 10px;
    font-size: 18px;
}
.body1{
    background-color: #1F2937;
    color: #F9FAF8;
}
.b1LeftContainerHeader{
    font-size: 48px;
    font-weight: 900;
}
.b1LeftContainerSubtext{
    font-size: 18px;
    color: #E5E7EB;
}
.b2Content{
    /*come back to this*/
    border: 2px solid #3882F6;
    border-radius: 6px;
    margin: 2px;
}
.b2Header{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.body3{
    background-color: #E5E7EB;
}
blockquote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 20px;
}
.b3Attribution{
    font-weight: 900;
    color: #1F2937;
    padding-left: 50px;
}
.b4ContentHeader{
    background-color: #3882F6;
    color:#E5E7EB;
    font-size: 24px;
}
.b4Content{
    font-size: 18px;
    padding: 20px;
    border-radius: 6px;
}
#cta{
    border: 2px solid white;
}
#cats{
    width: 25%;
}
.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 10px;
}
